rise
Jinja2
MarkupSafe
Pygments
Send2Trash
attrs
backcall
bleach
colorama
decorator
defusedxml
entrypoints
graphviz==0.10.*
ipykernel
ipython-genutils
ipython
ipywidgets
jedi
jsonschema
jupyter-client
jupyter-console
jupyter-core
jupyter
jupyterlab-server
jupyterlab
mistune
matplotlib==3.*
nbconvert
nbformat
nbgitpuller
notebook
networkx==2.3.*
pandocfilters
parso
prometheus-client
prompt-toolkit
pyrsistent
python-dateutil
pywinpty
pyzmq
pygraphviz==1.5
pqdict==1.0
qtconsole
setuptools
six
terminado
testpath
tornado
traitlets
wcwidth
webencodings
widgetsnbextension
